<div class="container">
  <div class="row">
    <div class="offset-lg-2 col-lg-4 text-center">
      <%= image_tag "chari-log-top.png", class: "img-responsive h-100", style: "height:auto%; width:100%;" %>
    </div>
    <%= render "/user_sessions/form" %>
  </div>
</div>
