<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-4 col-lg-5 col-md-6 d-md-block d-none">
      <%= image_tag "chari-log-top.png", class: "img-fluid h-100 float-right" %>
    </div>
    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-12 pe-lg-5 pe-xl-4">
      <%= render "/user_sessions/form" %>
    </div>
  </div>
</div>
