<div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th></th>
        <th class="text-nowrap"><%= 'ユーザー情報' %></th>
        <th><%= User.human_attribute_name(:my_bike) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
</div>