<% @users.each do |user| %>
  <li class="list-group-item py-2 px-3 rounded-md" role="option" data-autocomplete-value="<%= user.id %>" data-autocomplete-label="<%= user.name %>">
    <%= user.name %>
  </li>
<% end %>
