<footer id='footer' class='footer mt-5'>
  <div class='container'>
    <div class='row'>
      <div class='col-12'>
        <div class='col-md-12 text-center'>
          <%= link_to '利用規約', '/terms', class: 'text-secondary'%>
          <span class="mr-3"></span>
          <%= link_to 'プライバシーポリシー', '/privacy_policy', class: 'text-secondary'%>
          <p class='text-secondary'>© 2024. ChariLog.</p>
        </div>
      </div>
    </div>
  </div>
</footer>