<button type="button" class="btn border border-success text-success hover-opacity-50 my-2 my-sm-0 ms-1">
  <i class="fa-brands fa-line"></i>
  <span class="font-mini-size"><%= 'でシェア' %></span>
</button>