<td class="action">
  <ul class='d-flex crud-menu-btn list-inline m-0'>
    <li class="list-inline-item mx-2">
      <%= link_to edit_post_path(post), class: "hover-opacity-50" do %>
        <i class="fas fa-pencil-alt fa-lg text-dark"></i>
      <% end %>
    </li>
    <li class="list-inline-item me-1">
      <%= link_to post_path(post), class: "hover-opacity-50", method: :delete, data: {confirm: "ログを削除しますか"} do %>
        <i class="fas fa-trash fa-lg text-dark"></i>
      <% end %>
    </li>
  </ul>
</td>