<!-- いいね数カウント -->
<i class="fa-solid fa-heart text-danger"></i>
<div class="text-secondary ms-1">
  <div class="fs-5 likes_count" id="likes-count-<%= post.id %>">
    <%= post.likes.count %>
  </div>
</div>

<!-- アイテム数カウント -->
<i class="fa-solid fa-tags text-success ms-2"></i>
<div class="text-secondary ms-1">
  <div class="fs-5 items_count">
    <%= post.items.count %>
  </div>
</div>