<% set_meta_tags title: t('.title') %>

<div class="container-fluid p-0 mb-sm-5">
  <div class="title-area under-line border-4 d-lg-flex d-none my-2">
    <%= link_to 'javascript:history.back()' do %>
      <i class="fas fa-angle-left fa-2x me-4"></i>
    <% end %>
    <h3 class="fw-bold"><%= t(".title") %></h3>
  </div>
  
  <%= render 'form', post: @post %>

</div>
