<div class="container-fluid p-0">
  <div class="title-area under-line border-4 d-lg-block d-none my-2">
    <h2 class="fw-bold"><%= t(".title") %></h2>
  </div>
  
  <%= render 'form', post: @post %>

</div>

<%= link_to 'Back', posts_path %>
