<div class="container">
  <div class="title-area title-underline mb-2">
    <h2 class="fw-bold">ログ一覧</h2>
  </div>

  <!-- 掲示板一覧 -->
  <div class="row mb-4">
    <% if @posts.present? %>
      <%= render @posts %>
    <% else %>
      <p>ログがまだありません</p>
      <%= link_to 'ログの第一号になろう！', new_post_path %>
    <% end %>
  </div>

  <%= paginate @posts, theme: 'twitter-bootstrap-4' %>

</div>