@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'sidebar';
@import 'users';

body {
  padding-top: 0px;
}

.border-dashed {
  border: dashed;
}

.pointer{
  cursor: pointer;
}