.upsize {
  height: 120px; 
  width: 120px;
}

.downsize {
  height: 90px; 
  width: 90px;
}

.avatar-input-upsize {
  height: 120px;
  width: 200px;
}

.avatar-input-downsize {
  height: 90px;
  width: 130px;
}

.position-relative {
  position: relative;
}

.delete-preview {
  display: none;
  position: absolute;
  top: 0;
  right: 15px;
  cursor: pointer;
}

.delete-preview.open {
  display: block;
}