.upsize {
  height: 120px; 
  width: 120px;
}

.downsize {
  height: 105px; 
  width: 105px;
}

.more-downsize {
  height: 80px; 
  width: 80px;
}

.avatar-input-upsize {
  padding: 33px 75px;
}

.avatar-input-downsize {
  padding: 26px 55px;
}

.avatar-input-more-downsize {
  padding: 13px 23px;
}

.position-relative {
  position: relative;
}

.delete-preview {
  display: none;
  position: absolute;
  top: 0;
  right: 15px;
  cursor: pointer;
}

.delete-preview.open {
  display: block;
}

.avatar-panel .prev-img img {
  object-fit: cover;
  object-position: center center;
  border-radius: 50%;
}