.upsize {
  height: 115px; 
  width: 115px;
}

.downsize {
  height: 90px; 
  width: 90px;
}

.avatar-input-upsize {
  padding: 32px 75px;
}

.avatar-input-downsize {
  padding: 20px 30px;
}

.position-relative {
  position: relative;
}

.delete-preview {
  display: none;
  position: absolute;
  top: 0;
  right: 15px;
  cursor: pointer;
}

.delete-preview.open {
  display: block;
}