<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-12 px-md-4 mb-4">
      <%= render "form" %>
      <%= link_to t("defaults.to_top_page"), root_path, class: "text-decoration-none" %>
    </div>
  </div>
</div>
